<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ClassSphere - Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<style>
    body::-webkit-scrollbar{
        display: none;
    }
    .icon{
        display: none;
    }
</style>
<body>
     <div class="header">
        <header class="header-content">
            <a href="#logo" class="logo">
                <img src="{% static './images/StudySyn.svg' %}" alt="logoImage" class="logo-icon" />
                <span class="logo-text">ClassSphere</span>
            </a>
            <nav class="nav">
                <a href="/" class="nav-link">
                    <span>Home</span>
                </a>
                <a href="/event" class="nav-link">
                    <span>Events</span>
                </a>
                <a href="/schedule" class="nav-link Exam">
                    <span>Exams</span>
                </a>
                <a href="/holiday" class="nav-link">
                    <span>Holiday</span>
                </a>
                <!-- <a href="{% url 'userprofile' %}" class="nav-link profile">
                    <i class='bx bx-user-circle'></i>
                    <span>Profile</span>
                </a> -->
                {% if user.profile.role == 'Admin'%}
            <a href="{% url 'adminpage' %}" class="nav-link profile">
              <span>DashBoard</span>
            </a>
            {%else%}
            <a href="{% url 'userprofile' %}" class="nav-link profile">
              <span>Profile</span>
            </a>
            {%endif%}
            </nav>
            <a href="{% url 'logout' %}" class="contact-button">
                Logout
            </a>
            <button type="button" class="menu-button">
                <img src="{% static './images/Hamburger.svg' %}" alt="menuButton" class="menu-icon" />
            </button>

        </header>
    </div>
        {% block content %}
          
        {% endblock %}
        
</body>
</html>